<a href="https://colab.research.google.com/github/ssirapar/python-programs/blob/main/mid_1_ans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
numbers=[9,18,27,36]
for num in numbers:
  for n in range(1,num%8):
    print(n,"#",end="")
    print()

1 #
1 #
2 #
1 #
2 #
3 #

In [ ]:
#...A dictionary is ordered*, changeable and do not allow duplicates.                                                                                                                                       
#-------A set  is unordered, unchangeable*, and unindexed.                       
#  ...Tuple items are ordered, unchangeable, and allow duplicate values.                            
#-----List items are ordered, changeable, and allow duplicate values.

In [2]:
s=[12,23,345]
d=[i for i in s if i%2==0]
print(d)
print(s[-2,-1])

[12]

TypeError: ignored

In [3]:
print(char(ord('b')+1))

NameError: ignored

In [ ]:
#pop() is an inbuilt function in Python that removes and returns the last value from the List or the given index value.

In [6]:
x=1
while x<10:
     if x%5==0:
            break
     print(x)
     x+=1

1
2
3
4

In [7]:
str="my isname isisis "jameis isis bond"
sub "is";
print(str1.count(sub,4))

SyntaxError: ignored