<a href="https://colab.research.google.com/github/ssirapar/python-programs/blob/main/module_2_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Program to get the maximum and minimum value in a dictionary
tom= {'a': 100, 'z': 200, 'y': 30}         #here a,z,y are the key values
jerry= {'t': 100, 'h': 0, 'z': 30}           #here t,h,z are the key values and 100 ,0,30 are the assigned values
print(min(jerry, key=jerry.get))      #this gives the min value in assigned values
print(min(tom))                       #this gives the min value in key values acc to dicionary order

h
a

In [ ]:
#Program to remove a key from a dictionary
a = {"brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del a["model"]
print(a)

{'brand': 'Ford', 'year': 1964}

In [ ]:
#Create a function which accepts two inputs from the user and compute nCr
def nCr(a,b):
  return(fact(a)/fact(b))/fact(a-b)
a=int(input(""))
b=int(input(""))
def fact(a):
    res=1
    for i in range(2,a+1):
      res=res*i
    return res
print(int(nCr(a,b)))
       #or
def fact(i):
  if i>0:
    return i*fact(i-1)
  else:
    return 1 
def comb(n,r):
  return(fact(n)/fact(r))/fact(n-r)
comb(6,4)

6
4
15

15.0

In [ ]:
#x Program to print a specified list after removing the 0th, 4th and 5th elements.
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#Expected Output : ['Green', 'White', 'Black']
a=("red","green","white","black","pink","yellow")
print(a[1:4])

('green', 'white', 'black')

In [5]:
#Program to get the difference between the two lists
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
a=print(list(set(list1) - set(list2)))
b=print(list(set(list2) - set(list1)))  

                         #or
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
diff1= list(set(list1) - set(list2))
diff2 = list(set(list2) - set(list1))
total_diff = diff1 + diff2
print(total_diff)

[9, 3, 5]
[8, 2, 4, 6]
[9, 3, 5, 8, 2, 4, 6]

In [10]:
#Program for replacing one substring by another For example - Rabbit - Replace "bb" by "cc"
a=("rabbit")
b=(a.replace('bb','cc'))
print(b)       
c=("kiwi")
d=(c.replace('kiwi','mango'))
print(d)

raccit
mango

In [29]:
#Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.
#Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2
a= ['abc','xyz','aba','1221']
b=set(a)
print(b)

{'abc', 'xyz', '1221', 'aba'}

In [ ]:
#Python function that accepts a string and calculates the number of uppercase letters and lowercase letters

In [ ]:
#Program to Acronym generator for any user input
# (ex-input is Random memory access then output should be RMA).Example - Random number (RN)

In [ ]:
#Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements.For ex -.In Rabbit count how many times b has occurred . 
#Example-I have to go to a doctor and get myself checked. Count the number of occXrrences of µWo¶.