<a href="https://colab.research.google.com/github/ssirapar/python-programs/blob/main/module_2_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1.Program to get the maximum and minimum value in a dictionary
tom= {'a': 100, 'z': 200, 'y': 30}         #here a,z,y are the key values
jerry= {'t': 100, 'h': 0, 'z': 30}           #here t,h,z are the key values and 100 ,0,30 are the assigned values
print(min(jerry, key=jerry.get))      #this gives the min value in assigned values
print(min(tom))                       #this gives the min value in key values acc to dicionary order

h
a

In [ ]:
# 2.Program to remove a key from a dictionary
a = {"brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del a["model"]
print(a)

{'brand': 'Ford', 'year': 1964}

In [ ]:
#3.Create a function which accepts two inputs from the user and compute nCr
def nCr(a,b):
  return(fact(a)/fact(b))/fact(a-b)
a=int(input(""))
b=int(input(""))
def fact(a):
    res=1
    for i in range(2,a+1):
      res=res*i
    return res
print(int(nCr(a,b)))
       #or
def fact(i):
  if i>0:
    return i*fact(i-1)
  else:
    return 1 
def comb(n,r):
  return(fact(n)/fact(r))/fact(n-r)
comb(6,4)

6
4
15

15.0

In [ ]:
# 4.x Program to print a specified list after removing the 0th, 4th and 5th elements.
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#Expected Output : ['Green', 'White', 'Black']
a=("red","green","white","black","pink","yellow")
print(a[1:4])

('green', 'white', 'black')

In [ ]:
# 5.Program to get the difference between the two lists
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
a=print(list(set(list1) - set(list2)))
b=print(list(set(list2) - set(list1)))  

                         #or
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
diff1= list(set(list1) - set(list2))
diff2 = list(set(list2) - set(list1))
total_diff = diff1 + diff2
print(total_diff)

[9, 3, 5]
[8, 2, 4, 6]
[9, 3, 5, 8, 2, 4, 6]

In [ ]:
# 6.Program for replacing one substring by another For example - Rabbit - Replace "bb" by "cc"
a=("rabbit")
b=(a.replace('bb','cc'))
print(b)       
c=("kiwi")
d=(c.replace('kiwi','mango'))
print(d)

raccit
mango

In [20]:
# 7.Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.
#Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2
a= ['abc','xyz','aba','1221','pop','mom','sams','mam','zkui']
for i in a:
  if len(i)>=2:
    if i[0]==i[len(i)-1]:
      print(i)

aba
1221
pop
mom
sams
mam

In [1]:
#8.Python function that accepts a string and calculates the number of uppercase letters and lowercase letters

[(1, 1), (2, 4), (5, 25), (6, 36)]

In [ ]:
#9.Program to Acronym generator for any user input
# (ex-input is Random memory access then output should be RMA).Example - Random number (RN)

In [ ]:
# 10.Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements.For ex -.In Rabbit count how many times b has occurred . 
#Example-I have to go to a doctor and get myself checked. Count the number of occXrrences of µWo¶.

In [2]:
#11.Given a list of numbers of list, write a Python program to create a list of tuples 
#having first element as the number and second element as the square of the number.
list1 = [5, 7, 4, 9]
  
# using list comprehension to iterate each
# values in list and create a tuple as specified
a = [(val, pow(val, 2)) for val in list1]
print(a)

[(5, 25), (7, 49), (4, 16), (9, 81)]

In [10]:
#12.Program to find the second smallest number and second largest number in a list.
a = [1,2,97,93,37,24,10,32]
a.sort()
# second last element
print("Second largest element in the list is:",a[-2])
print("second smallest num in the list is:",a[1])

Second largest element in the list is: 93
second smallest num in the list is: 2

In [13]:
#13.Given list of tuples, remove all the tuples with length K. 
#Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2 
#Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)] 
#Explanation : (4, 5) of len = 2 is removed.

a = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
  
# printing original list
print("The original list : " + str(a))
# initializing K 
K = 3 
# len() used to compute length
res = [ele for ele in a if len(ele) != K]
# printing result 
print("Filtered list : " + str(res))

The original list : [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
Filtered list : [(4, 5), (4,), (1,), (3, 4, 6, 7)]

In [ ]:
#14.