<a href="https://colab.research.google.com/github/ssirapar/python-programs/blob/main/pandas_0345.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas
myData = {'companies':['Amazon','Wipro','Adantel','Adobe'],'location':['Hyd','Vsp','Blr','Chennai']}
a = pandas.DataFrame(myData)
print(a)

  companies location
0    Amazon      Hyd
1     Wipro      Vsp
2   Adantel      Blr
3     Adobe  Chennai

In [3]:
#2. pandas as pd

import pandas as pd
myData = {'companies':['Amazon','Wipro','Adantel','Adobe'],'location':['Hyd','Vsp','Blr','Chennai']}
progData = pd.DataFrame(myData)
print(progData)

  companies location
0    Amazon      Hyd
1     Wipro      Vsp
2   Adantel      Blr
3     Adobe  Chennai

In [4]:
#3. Check version
import pandas as pd

print(pd.__version__)

1.3.5

In [5]:
#4. Pandas series (One dimensional array. Holds data of anytype)
import pandas as pd

marks = [28,29.5,12,15]

mymarks = pd.Series(marks)

print(mymarks)

0    28.0
1    29.5
2    12.0
3    15.0
dtype: float64

In [6]:
#5. Returning specific value
import pandas as pd

marks = [28,29.5,12,15]

mymarks = pd.Series(marks)

print(mymarks)
print(mymarks[1])

0    28.0
1    29.5
2    12.0
3    15.0
dtype: float64
29.5

In [7]:
#6. Indexing the data in a single column
import pandas as pd

marks = [28, 29.5, 15]

mymarks = pd.Series(marks, index = ["prasanna", "pranav", "prameela"])

print(mymarks)

prasanna    28.0
pranav      29.5
prameela    15.0
dtype: float64

In [8]:
#7. Getting the data for a specific index

import pandas as pd

marks = [28, 29.5, 15]

mymarks = pd.Series(marks, index = ["prasanna", "pranavi", "pramodh"])

print(mymarks)
print(mymarks["pramodh"])

prasanna    28.0
pranavi     29.5
pramodh     15.0
dtype: float64
15.0

In [9]:
#8. Create a simple Pandas Series from a dictionary: The keys of the dictionary become the labels.
import pandas as pd

daywisePrograms = {"day1": 12, "day2": 10, "day3": 8}

myvar = pd.Series(daywisePrograms)

print(myvar)

day1    12
day2    10
day3     8
dtype: int64

In [10]:
#9. Print only limited data as per the labels:
import pandas as pd

daywisePrograms = {"day1": 12, "day2": 10, "day3": 8}

a = pd.Series(daywisePrograms,index=["day1","day2"])

print(a)

day1    12
day2    10
dtype: int64

In [11]:
#10. Data sets in Pandas are usually multi-dimensional tables, called DataFrames. Series is like a column, a DataFrame is the whole table.
#Create a DataFrame from two Series:

import pandas as pd

empPublications = {
  "Employees": ["Raman", "Ranjan", "Ramani"],
  "Publications": [50, 40, 45]
}

myvar = pd.DataFrame(empPublications)

print(myvar)

  Employees  Publications
0     Raman            50
1    Ranjan            40
2    Ramani            45

In [12]:
#11.As you can see from the result above, the DataFrame is like a table with rows and columns.Pandas use the loc attribute to return one or more specified row(s)
print(myvar.loc[0])

Employees       Raman
Publications       50
Name: 0, dtype: object

In [13]:
#12.Return row 0 and 1. When using [], the result is a Pandas DataFrame.
print(myvar.loc[[0,1]])

  Employees  Publications
0     Raman            50
1    Ranjan            40

In [14]:
#13.With the index argument, you can name your own indexes.
import pandas as pd

empPublications = {
  "Employees": ["Raman", "Ranjan", "Ramani"],
  "Publications": [50, 40, 45]
}

myvar = pd.DataFrame(empPublications,index=["2001","2002","2003"])


print(myvar)

     Employees  Publications
2001     Raman            50
2002    Ranjan            40
2003    Ramani            45

In [15]:
#Use the named index in the loc attribute to return the specified row(s).
print(myvar.loc["2001"])

Employees       Raman
Publications       50
Name: 2001, dtype: object

In [ ]:
#Load Files Into a DataFrame. If your data sets are stored in a file, Pandas can load them into a DataFrame.
#Load a comma separated file (CSV file) into a DataFrame:

import pandas as pd

df = pd.read_csv('data.csv')

print(df)

In [ ]:
#If you have a large DataFrame with many rows, Pandas will only return the first 5 rows, and the last 5 rows:
#use to_string() to print the entire DataFrame.
import pandas as pd

df = pd.read_csv('data.csv')

print(df.to_string())

In [ ]:
#Check the number of maximum returned rows:
#In my system the number is 60, which means that if the DataFrame contains more than 60 rows, the print(df) statement will return only the headers and the first and last 5 rows.
#You can change the maximum rows number with the same statement.
#Increase the maximum number of rows to display the entire DataFrame:

import pandas as pd

pd.options.display.max_rows = 9999

df = pd.read_csv('data.csv')

print(df)