<a href="https://colab.research.google.com/github/ssirapar/python-programs/blob/main/SETS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Set items are unchangeable, but you can remove items and add new items.
#A set is a collection which is unordered, unchangeable*, and unindexed.
#Sets are written with curly brackets
#          Duplicate values will be ignored:
a = {"apple", "banana", "cherry", "apple"}
print(a)
    # one aple will be removed.

{'banana', 'cherry', 'apple'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
#set can be of any type but will not print in order.
print(set1)
print(set2)
print(set3)
print(type(set2))

{'banana', 'cherry', 'apple'}
{1, 3, 5, 7, 9}
{False, True}
<class 'set'>

In [ ]:
#Using the set() constructor to make a set:
a = set(("apple", "banana", "cherry")) # note the double round-brackets
print(a)

{'banana', 'cherry', 'apple'}

In [ ]:
a = {"apple", "banana", "cherry"}
for x in a:
  print(x) #loop

banana
cherry
apple

In [ ]:
#Check if "banana" is present in the set:
a= {"apple", "banana", "cherry"}
print("banana"  in a)
print("kiwi"  in a)
print("cherry"  in a)

True
False
True

In [ ]:
#To add one item to a set use the add() method.
a= {"apple", "banana", "cherry"}
a.add("orange")
print(a)

{'banana', 'cherry', 'apple', 'orange'}

In [ ]:
#Add elements from b into a:[by using only sets]
a = {"apple", "banana", "cherry"}
b = {"pineapple", "mango", "papaya"}
a.update(b)
print(a)

{'mango', 'apple', 'pineapple', 'banana', 'cherry', 'papaya'}

In [ ]:
#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).
#Add elements of a list to at set:

set1= {"apple", "banana", "cherry"}
list1 = ["kiwi", "orange"]
set1.update(list1)
print(set1)

{'cherry', 'apple', 'banana', 'orange', 'kiwi'}

In [ ]:
# to remove an item in the set
a= {"apple", "banana", "cherry"}
a.remove("cherry")
print(a)     
           # by using discard()
a= {"apple", "banana", "cherry"}
a.discard("cherry")         #discard() & remove() gives the same output
print(a) 
           # if the item is not present in a set
#a= {"apple", "banana", "cherry"}
#a.remove("kiwi")              ( #it raises an error.)
#print(a)   
          # by using discard
a= {"apple", "banana", "cherry"}
a.discard("kiwi")
print(a)    #does not show any error

{'banana', 'apple'}
{'banana', 'apple'}
{'banana', 'cherry', 'apple'}

In [ ]:
#Remove the last item by using the pop() method:

a = {"apple", "banana", "cherry"}
x = a.pop()
print(x)
print(a)

banana
{'cherry', 'apple'}

In [ ]:
#The clear() method empties the set:
a= {"apple", "banana", "cherry"}
a.clear()
print(a)

set()

In [ ]:
#The del keyword will delete the set completely:
a= {"apple", "banana", "cherry"}
del a
print(a)     # #this will raise an error because the set no longer exists

NameError: ignored

In [1]:
#You can loop through the set items by using a for loop:

#Example
#Loop through the set, and print the values:
a = {"apple", "banana", "cherry"}
for x in a:
  print(x)

cherry
apple
banana

In [2]:
#The intersection_update() method will keep only the items that are present in both sets.

#Example
#Keep the items that exist in both set x, and set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [3]:
#Return a set that contains the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [4]:
#Keep the items that are not present in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)
#The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
#Example
#Return a set that contains all items from both sets, except items that are present in both:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'google', 'cherry', 'banana'}
{'microsoft', 'google', 'cherry', 'banana'}