<a href="https://colab.research.google.com/github/ssirapar/python-programs/blob/main/strings_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# strings          Strings in python are surrounded by either single quotation marks, or double quotation marks.
a="sree"
print(a)
print(type(a))
print(a[1])        # a[1] gives the 2nd letter of the string
print(a[2])     
print(len(a))  # len gives the num of letters in string
b="hello world"     # space also occupies one space so its 11.
print(len(b))

sree
<class 'str'>
r
e
4
11

In [ ]:
a=("RRR movie has been released")
print("RRR" in a)    # to find a word in string.[in]
print("sree" in a)

True
False

In [ ]:
a=("RRR movie has been released")
print("RRR" not in a)  # not in

False

In [ ]:
#slicing
a="RRR movie has been released"
print(a[2:5])    # positions where to be cut [here gap is also considered as a digit]

R m

In [4]:
#UPPER TO LWR AND LWR TO UPR
a=("RRR movie has been released")
print(a.upper())
b=("RRR movie has been released")
print(b.lower())

RRR MOVIE HAS BEEN RELEASED
rrr movie has been released

In [9]:
## REMOVE SPACES
a=("     RRR movie has been released      ")
print(a.strip())       #(a.strip) removes the spaces after quotes but not in middle of the statement and print the statement.
a=("     RRR movie            has been released      ")
print(a.strip())

RRR movie has been released
RRR movie            has been released

In [20]:
# replace
a=("RRR movie has been released")
print(a.replace("RRR","radhe shyam"))     # replaces the name RRR
print(a)    # prints the original sentence with out the new one
print(a.replace("a","f"))  # a is replacing with f in original sentence

radhe shyam movie has been released
RRR movie has been released
RRR movie hfs been relefsed

In [30]:
# SPLITTING
a=("RRR movie has been released")
print(a.split())
b=("sree")
print(b.split('e'))      # it splits where the letter "e" is there
c=("RRR, movie has been released")
print(c.split(','))

['RRR', 'movie', 'has', 'been', 'released']
['sr', '', '']
['RRR', ' movie has been released']

In [43]:
# CONCANTINATION [EX:1]
a="1,2,3"    #not possible when a=1,2,3 with out " "
b="sree"
c=a+b
#c=a+" " +b          # adding is only posssible when " " is prenent for both the variables.
print(c.format(a,b))

1,2,3sree

In [44]:
#EX:2
a=123
b="hello {}"
print(b.format(a,b))

hello 123

In [42]:
#EX:3
a=("RRR movie has been released")
b=(" and i went with friends")
c= a+ " " +b     
print(c)

RRR movie has been released  and i went with friends

In [58]:
# FORMAT STRINGS
price=200
quantity=3
item=1
name="sprite"
myorder ="i buyed {3} with {0} having {1} and purchased {2} " 
print(myorder.format(price,quantity,item,name))

i buyed sprite with 200 having 3 and purchased 1

In [57]:
# ex:2
s1=int(input("enter the marks of math "))
s2=int(input("enter the marks of phy "))
s3=int(input("enter the marks of chem "))
s4=int(input("enter the marks of cse "))
marks= "my math marks are {0} , phy marks are {1} ,chem marks are {2} ,cse marks are {3} "
print(marks.format(s1,s2,s3,s4))

enter the marks of math 100
enter the marks of phy 100
enter the marks of chem 100
enter the marks of cse 100
my math marks are 100 , phy marks are 100 ,chem marks are 100 ,cse marks are 100

In [72]:
a="hello mam \"hi\""
print(a)
b="hey liki \\ hello"
print(b)
c="hello \nliki" # prints seperately in 2 lines
print(c)
d="hello \tliki" # \t prints by giving space in middle
print(d)
e="hello \bliki"   # \b removes the space in between them
print(e)
f="hello\bliki"   # \b removes the space in between them if no space present it removes the before letter
print(f)

hello mam "hi"
hey liki \ hello
hello
liki
hello 	liki
hello liki
helloliki

In [76]:
# OCTAL
a= "\110\145\154\154\157"   #ASCII values of H E L L O
print(a)

Hello

In [80]:
# STRING METHODS
a="sowmya"
b=a.capitalize()
print(b)
c="Sowmya"
d=c.casefold()
print(d)

Sowmya
sowmya

In [81]:
a="sowmya"
b=a.center(30)   # 30 is number of spaces in front of name
print(b)

            sowmya

In [87]:
#count
a="hello world welcome to my world"
b=a.count("world")     # count(some string) gives the num of times the letter or word present in a string
print(b)
c=len(a)    # len(a) gives num of letters including spaces b\w them.
print(c)

2
31