<a href="https://colab.research.google.com/github/ssirapar/python-programs/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
 ##  TUPLEs

#Tuples are used to store multiple items in a single variable.
a = ("apple", "banana", "cherry")
b=(tuple(a))
print(a)
print(b)
print(len(a))
print(type(a))
print(type(b))

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry')
3
<class 'tuple'>
<class 'tuple'>

In [ ]:
#with single variable
a= ("apple",)
print(type(a))    #One item tuple, remember the comma:
#NOT a tuple
a= ("apple")
print(type(a))       # without (,) its not a tuple

<class 'tuple'>
<class 'str'>

In [10]:
#access list items
a = ("apple", "banana", "cherry")
print(a[1])
print(a[-1])
a=("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(a[-5])
print(a[2:6])          # does not include 6th item in the list
print(a[:4])        # does not include 4th item in the list
print(a[4:])
print(a[-4:-1])       # does not include last  item in the list i.e mango
if "apple" in a:
 print("yes")

banana
cherry
cherry
('cherry', 'orange', 'kiwi', 'melon')
('apple', 'banana', 'cherry', 'orange')
('kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')
yes

In [29]:
#Once a tuple is created, you cannot change its values. 
#But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.
        # CHANGING TUPLES:
a = ("apple", "banana", "cherry")
b=list(a)
print(b)      
b[1]= "kiwi"
a=tuple(b)
print(a)
b.append("orange")
print(b)
b.insert(1,"orange")
print(b)
d=("orange",)
a=a+d
print(a)

['apple', 'banana', 'cherry']
('apple', 'kiwi', 'cherry')
['apple', 'kiwi', 'cherry', 'orange']
['apple', 'orange', 'kiwi', 'cherry', 'orange']
('apple', 'kiwi', 'cherry', 'orange')

In [38]:
#Convert the tuple into a list, remove "apple", and convert it back into a tuple:
a = ("apple", "banana", "cherry")
b=list(a)
print(b)
b.remove("apple")
a=tuple(b)
print(a)

['apple', 'banana', 'cherry']
('banana', 'cherry')

In [52]:
a = ("apple", "banana", "cherry")
b=(1,2,3,4,5)
c=a+b
print(c)     # 2 strings are not added in a tuple
del a
print(a)            #this will raise an error because the tuple no longer exists
print(c)

('apple', 'banana', 'cherry', 1, 2, 3, 4, 5)

NameError: ignored

In [56]:
              #unpacking a tuple
  #When we create a tuple, we normally assign values to it. This is called "packing" a tuple:          
a= ("apple", "banana", "cherry")
(x,y,z) =a
print(y)
print(x,*y)
print(z)

banana
apple b a n a n a
cherry

In [60]:
a= ("apple", "banana", "cherry")
(x,*y)=a
print(x)
print(*y)

apple
banana cherry